# Analyzing the relationship between education level and violent crime in California counties

**Team Members**
1. Kyle Choi
2. Nithila Balaji
3. Khalil Burrell

**Topic Overview**

Our aim is to see if there is a correlation between education level and violent crime in California. In order to do this we will calculate high school graduation rate as a parameter of education among different counties along with violent crime in two specific years and observe the relation (if there is one). We will then calculate the average across both years and see if we are able to generalize a relationship.

In [2]:
# Imports
import pandas as pd
import numpy as np

## Data Collection and Cleaning

**Dataset 1: Violent Crime data**

insert source

In [1]:
## insert cleaned data and small explanation on steps taken

In [8]:
a = pd.read_csv('Alameda.csv')
a.head()

                                        2017    2022
0                              Crimes    NaN     NaN
1                      Violent Crimes  9,923  11,125
2                            Homicide     90     158
3  Rape (Forcible Rape prior to 2014)    810     691
4                                Rape    768     656

In [24]:
a.iloc[1][1]

'9,923'

In [31]:
# List of counties
counties = [
    'Alameda', 'Alpine', 'Amador', 'Butte', 'Calaveras', 'Colusa', 'Contra Costa', 
    'Del Norte', 'El Dorado', 'Fresno', 'Glenn', 'Humboldt', 'Imperial', 'Inyo', 
    'Kern', 'Kings', 'Lake', 'Lassen', 'Los Angeles', 'Madera', 'Marin', 'Mariposa', 
    'Mendocino', 'Merced', 'Modoc', 'Mono', 'Monterey', 'Napa', 'Nevada', 'Orange', 
    'Placer', 'Plumas', 'Riverside', 'Sacramento', 'San Benito', 'San Bernardino', 
    'San Diego', 'San Francisco', 'San Joaquin', 'San Luis Obispo', 'San Mateo', 
    'Santa Barbara', 'Santa Clara', 'Santa Cruz', 'Shasta', 'Sierra', 'Siskiyou', 
    'Solano', 'Sonoma', 'Stanislaus', 'Sutter', 'Tehama', 'Trinity', 'Tulare', 
    'Tuolumne', 'Ventura', 'Yolo', 'Yuba'
]

# Initialize an empty DataFrame to store the results
results_df = pd.DataFrame(columns=['County', '2017', '2022'])

# Iterate through each county and process the CSV files
for county in counties:
    file_path = f'{county}.csv'  # Replace with the actual path to your files
    df = pd.read_csv(file_path)
    violent_crimes_row = [county, df.iloc[1][1], df.iloc[1][2]]
    results_df.loc[len(results_df.index)] = violent_crimes_row
    
results_df
results_df.to_csv('violent_crime_data.csv', index=False)

**Dataset 2: Graduation data**

insert source

In [ ]:
## insert cleaned data and small explanation on steps taken

In [ ]:
grad_17 = ''
grad_22 = ''

## Regression

can remove, only for reference!

We will employ a regression model for each county’s graduation rate as independent variables and the violent crime rate as dependent variables. Then compare with the same model on a different timeframe to extract if there was a meaningful impact because of the high school graduation rate.

**Hypotheses**

Null Hypothesis (H$_0$): There is no relationship between violent crime rates and high school graduation rate across counties in California in the two selected years.

Alternate Hypothesis (H$_a$): There is a negative relationship between violent crime and high school graduation rates across counties in California in the two selected years. That is

## Analysis

## Conclusion